body {
	padding: 0;
	border: 0;
	margin: 0;
	color: #555753;
	font-family: Helvetica, sans-serif;
	font-size: small;
}

img {
	border: none;
}

#toolbar {
	border-top: 4px #555753 solid;
	text-align: right;
	padding-right: 30px;
	height: 66px;
}

#toolbar.closed {
	background-image: url(gradient.png);
}

#padding {
	height: 66px;
}

#logo {
	position: absolute;
	top: 23px;
	left: 33px;
}

#content {
/*	margin: 90px;
	margin-top: 24px;*/
	margin: 24px 0 0 90px;
}

h1 {
	font-size: large;
}

table.responses {
	border-collapse: collapse;
}

table.responses th {
	font-weight: normal;
	padding: 4px 1em 4px 1em;
}

table.responses td {
	border-top: 1px #e9ebe7 solid;
	padding: 4px 0 4px 0;
}

table.responses td.answer {
	text-align: center;
}

table.responses td.option a,
table.responses th.person a {
	text-decoration: none;
	color: #555753;
}

#options {
	height: 56px;
	background-color: #555753;
	padding: 5px 70px 5px 0;
	color: white;
}

#options .category {
	float: right;
	border-right: 2px #6e706c solid;
	padding: 0 20px;
	height: 56px;

}

#options ul {
	padding: 0;
	margin: 0;
	border: 0;
	list-style-type: none;
	width: 13em;
}

#options a {
	color: white;
}

table.responses td.option {
	width: 200px;
}

#instructions {
	font-style: italic;
	margin-bottom: 40px;
}

.odd {
	background-color: #f6faf0;
}

.addItem a {
	font-size: x-small;
	font-style: italic;
	color: #c8ccc6;
	text-decoration: none;
}

#instructionsInput {
	width: 500px;
	height: 50px;
}

.popup {
	position: absolute;
	background: white;
	opacity: .9;
	border: 3px #555753 solid;
	white-space: nowrap;
}

.popup .title {
	font-size: x-small;
	color: white;
	background-color: #a0a19d;
	padding: 4px;
	font-weight: bold;
}

.popup img.handle {
	position: relative;
	left: -26px;
}

.popup .content {
	padding: 10px 10px 0 10px;
}

.popup .content a {
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: x-small;
}

.popup .close {
	padding: 1px 1px 2px 5px;
	float: right;
}

#responsePopup .selection {
	padding: 10px 10px 0 10px;
	text-align: center;
}

#responsePopup img.selection {
	position: absolute;
}
