{% extends "root.html" %}

{% block title %}PLANster - create{% endblock %}

{% block content %}
<h1>Create a PLAN</h1>
<img src="http://www.planster.net/img/logo.gif" alt="PLANster" title="" id="title" />
<div id="main">
	<h2>What are you PLANning?</h2>
	<form method="post" action="/create">
		<div class="left">
			<b>The PLAN</b>
			<p>What are you up to?</p>
			<input name="title" tabindex="1" />
		</div>
		<div class="center">
			<b>Time</b>
			<p>How long do you need for PLANning?</p>
			<select name="duration" tabindex="2">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
			</select>
			month(s)
			<p>Your PLAN will be removed from our database afterwards, so choose wisely...
			</p>
		</div>
		<div class="right">
			<b>You</b>
			<p>
				{% if user %}
				You are currently signed in as {{ user.nickname }}.
				{% else %}
				Your name:<br />
				<input name="owner" tabindex="3" id="userName" />
				<br />
				<br />
				Your e-Mail address:
				<input name="email" maxlength="50" tabindex="4" />
				{% endif %}
			</p>
			<p>
				<input type="submit" name="submit" value="Create" />
				<input type="submit" name="submit" value="Cancel" />
			</p>
		</div>

	</form>
</div>
{% endblock %}
