<table>
	<tr>
		<td class="modalNav">
			<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/options'); return false"><div class="inactive">Items</div></a>
			 <a href="#" onclick="Modalbox.show('/forms/{{ plan }}'); return false"> <div class="active">Settings</div></a>
		</td><td>
			<h3>Settings</h3>
			<table>
				<tr>
					<td>PLAN name:</td>
					<td>
						<div id="editablePlanTitle">{{ plan.title }}</div>
					</td>
				</tr><tr>
					<td>Instructions:</td>
					<td>
						<div id="editablePlanInstructions">{{ plan.instructions }}</div>
					</tr><tr>
					<td>Owner:</td>
					<td>
					{% if plan.owner %}
						{{ plan.owner.nickname }}
					{% else %}
						Nobody.
						{% if user %}
						<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/claim'); return false">Claim it</a>
						{% else %}
						Sign in to claim it
						{% endif %}
					{% endif %}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
	new Ajax.InPlaceEditor('editablePlanTitle', '/rpc/{{ plan }}/title',
	{
		cancelControl: 'button',
		callback: function(form, value) {
			return 'title=' + encodeURIComponent(value)
		},
		onComplete: function(transport, element) {
			if (transport) {
				response = transport.responseText;
				$('planTitleLink').innerHTML = response;
			}
		}
	});
	new Ajax.InPlaceEditor('editablePlanInstructions', '/rpc/{{ plan }}/instructions',
	{
		cancelControl: 'button',
		rows: 4,
		cols: 45,
		callback: function(form, value) {
			return 'instructions=' + encodeURIComponent(value)
		},
		onComplete: function(transport, element) {
			if (transport) {
				response = transport.responseText;
				$('instructions').innerHTML = response;
			}
		}
	});
-->
</script>
