<table>
	<tr>
		<td class="modalNav">
			<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/options'); return false"><div class="inactive">Items</div></a>
			<a href="#" onclick="Modalbox.show('/forms/{{ plan }}'); return false"><div class="inactive">Settings</div></a>
{% if user %}
{% ifequal user plan.owner %}
			<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/permissions'); return false"><div class="active">Permissions</div></a>
{% endifequal %}
{% endif %}
		</td><td>
			<h3>Permissions</h3>
			<form method="post" onsubmit="set_permissions(this);return false">
				<ul id="planOptions">
					<li class="plan_option"><input type="checkbox" name="can_add_people" id="can_add_people_checkbox" {% if not plan.participants_locked %}checked="checked"{% endif %} />Anyone can add participants</li>
					<li class="plan_option"><input type="checkbox" name="can_change_settings" {% if not plan.settings_locked %}checked="checked"{% endif %} />Anyone can change the title and the instructions</li>
				</ul>
				<input type="submit" value="set" />
				<input type="reset" value="cancel" />
			</form>
		</td>
	</tr>
</table>
<script type="text/javascript">
<!--
	$('can_add_people_checkbox').focus();
-->
</script>
