<table>
	<tr>
		<td class="modalNav">
			<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/options'); return false"><div class="inactive">Items</div></a>
			 <a href="#" onclick="Modalbox.show('/forms/{{ plan }}'); return false" id="settingsNavItem"><div class="active">Settings</div></a>
{% if user %}
{% ifequal user plan.owner %}
			<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/permissions'); return false"><div class="inactive">Permissions</div></a>
{% endifequal %}
{% endif %}
		</td><td>
			<h3>Settings</h3>
			<table>
				<tr>
					<td>PLAN name:</td>
					<td>
						<div id="editablePlanTitle">{{ plan.title }}</div>
					</td>
				</tr><tr>
					<td>Instructions:</td>
					<td>
						<div id="editablePlanInstructions">{{ plan.instructions }}</div>
					</tr><tr>
					<td>Owner:</td>
					<td>
					{% if plan.owner %}
						{% if user %}
						{{ plan.owner.nickname }}
						{% else %}
						(only visible to signed-in users)
						{% endif %}
					{% else %}
						Nobody.
						{% if user %}
						<a href="#" onclick="Modalbox.show('/forms/{{ plan }}/claim'); return false">Claim it</a>
						{% else %}
						Sign in to claim it
						{% endif %}
					{% endif %}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
	// for consistency we should put focus on something else, but atm ther
	// *is* nothing else that would make sense
	$('settingsNavItem').focus();
	{% if plan.can_be_edited_by_current_user %}
	new Ajax.InPlaceEditor('editablePlanTitle', '/rpc/{{ plan }}/title',
	{
		cancelControl: 'button',
		callback: function(form, value) {
			return 'title=' + encodeURIComponent(value)
		},
		onComplete: function(transport, element) {
			// there does not seem to be an onSuccess callback,
			// thus we have to check the transport status value
			// since we get called regardless of the result
			if (transport && transport.status < 300) {
				response = transport.responseText;
				$('planTitleLink').innerHTML = response;
			}
		},
		onFailure: function(transport) {
			rpc_fail();
		}
	});
	new Ajax.InPlaceEditor('editablePlanInstructions', '/rpc/{{ plan }}/instructions',
	{
		cancelControl: 'button',
		rows: 4,
		cols: 45,
		callback: function(form, value) {
			return 'instructions=' + encodeURIComponent(value)
		},
		onComplete: function(transport, element) {
			if (transport && transport.status < 300) {
				response = transport.responseText;
				$('instructions').innerHTML = response;
			}
		},
		onFailure: function(transport) {
			rpc_fail();
		}
	});
	{% endif %}
</script>
