{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Sign in</h2>

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="">
	<table class="registration">
		<tr class="aligned wide">
			<th><label for="id_username">{% trans 'Username:' %}</label></th>
			<td>{{ form.username }}</td>
			<td>{{ form.username.errors }}</td>
		</tr><tr class="aligned wide">
			<th><label for="id_password">{% trans 'Password:' %}</label></th>
			<td>{{ form.password }}</td>
			<td>{{ form.password.errors }}</td>
		</tr>
	</table>

	<p><input type="submit" value="Sign in" /></p>

	<ul>
		<li>If you don't have an account, you can <a href="{% url registration_register %}">sign up</a> for one</li>
		<li>If you forgot your password, you can <a href="{% url auth_password_reset %}">reset it</a></li>
	</ul>
</form>
{% endblock %}
