<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>planster</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/planster.css" title="style" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<script src="{{ MEDIA_URL }}/js/prototype/prototype.js" type="text/javascript"></script>
		<script src="{{ MEDIA_URL }}/js/planster.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/js/calendar/calendar-planster.css" />
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/calendar/calendar.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/calendar/lang/calendar-en.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/js/calendar/calendar-setup.js"></script>
	</head>
	<body>
		{% block precontent %}{% endblock %}
		<div>
			<img src="{{ MEDIA_URL }}/img/logo.png" alt="planster" title="" id="logo" />
		</div>
		<div id="padding">&nbsp;</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
