{% extends "base.html" %}
{% load i18n %}

{% block precontent %}
<div id="toolbar-welcome">
{% if user.is_authenticated %}
	Signed in as <a href="{% url plans.views.profile %}">{{ user.username }}</a>. <a href="{% url auth_logout %}">Sign out</a>
{% else %}
	<a href="{% url auth_login %}?next=/">Sign in</a>
	{% endif %}
</div>
{% endblock %}
{% block content %}
<h1>Welcome to planster</h1>
<p>planster is a free online service which allows you to coordinate virtually anything with your pals.</p>
<p>Also, planster is <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>. You can find more information on the <a href="http://planster.googlecode.com/">planster project page</a>.</p>

<h2>Try it!</h2>
<form method="post" action="nojs" onsubmit="javascript:createPlan(this); return false">
	<p>First, think of a name for your plan:</p>
	<p><input name="title" value="{{ plan.title }}" /></p>
	<p>Now, if you would like to give a few instructions to your users, put them<br />in the following box (you can always change them later):</p>
	<p><textarea name="instructions" id="instructionsInput" rows="3" cols="70">{{ plan.instructions }}</textarea></p>
	<p>And we're almost there. All you need to do now is choose how long you<br />want your plan to live before we delete it:</p>
	<p><select name="expires">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
	</select> months</p>
{% if not user.is_authenticated %}
	<p>And prove that you're a human by answering this:</p>
	<p>
		<img src="/{{ req.uid }}.jpg" alt="" title="" id="captcha" />
		<input name="captcha_value" value="" size="2" />
		<input type="hidden" name="captcha_id" value="{{ req.uid }}" />
		or <a href="{% url auth_login %}?next=/">Sign in</a>
	</p>
{% endif %}
	<p>That's it. Now click the 'create' button.</p>
	<p><input type="submit" value="create" /></p>
</form>
{% endblock %}
