{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Account registration</h2>

<form method="post" action"">
	<table class="registration">
		<tr class="aligned wide">
			<th><label for="id_username">{% trans 'Username:' %}</label></th>
			<td>{{ form.username }}</td>
			<td>{{ form.username.errors }}</td>
		</tr><tr class="aligned wide">
			<th><label for="id_email">{% trans 'E-mail address:' %}</label></th>
			<td>{{ form.email }}</td>
			<td>{{ form.email.errors }}</td>
		</tr><tr class="aligned wide">
			<th><label for="id_password1">{% trans 'Password:' %}</label></th>
			<td>{{ form.password1 }}</td>
			<td>{{ form.password1.errors }}</td>
		</tr><tr class="aligned wide">
			<th><label for="id_password2">{% trans 'Confirm password:' %}</label></th>
			<td>{{ form.password2 }}</td>
			<td>{{ form.password2.errors }}</td>
		</tr>
	</table>

	<p><input type="submit" value="{% trans 'Register' %}" />
</form>
{% endblock %}
