{% extends "root.html" %}

{% block title %}PLANster - {{ plan.title }}{% endblock %}

{% block navcontent %}
	<a href="#" title="PLAN items" onclick="Modalbox.show('/forms/{{ plan }}/options', {title: 'Edit PLAN', width: 600, afterHide: refreshIfNeeded}); return false;">Manage items</a>
	|
	<a href="#" title="PLAN settings" onclick="Modalbox.show('/forms/{{ plan }}', {title: 'Edit PLAN', width: 600, afterHide: refreshIfNeeded}); return false;">PLAN settings</a>
	|
{% endblock %}

{% block content %}
<script type="text/javascript">
<!--
// we need to know the PLAN's id in some javascript functions
PLAN = '{{ plan }}';
-->
</script>
<h1 id="h1"><a href="/{{ plan }}" id="planTitleLink">{{ plan.title }}</a></h1>
<div id="instructions">{% if plan.instructions %}{{ plan.instructions }}{% else %}Add yourself to the list below and choose your preferred options. To change your selection at a later time, click your name.{% endif %}</div>

{% if edit %}
<form method="post" action="/{{ plan }}/response">
{% endif %}
<table class="plan">
	<tr>
		<th><img src="http://planster.net/img/switch.gif" alt="switch" title="" /></th>
{% for option in plan.options %}
		<th>{{ option.name }}</th>
{% endfor %}
{% if not edit %}
		<th id="add-option-cell">
			{% ifequal add "option" %}
			<form method="post" action="/{{ plan }}/options">
				<input name="name" id="optionName" />
				<input type="submit" name="submit" value="Add" />
				<input type="submit" name="submit" value="Cancel" />
			</form>
			{% else %}
			<form method="get" action="/{{ plan }}">
				<input type="hidden" name="add" value="option" />
				<input type="submit" value="Add option" />
			</form>
			{% endifequal %}
			<script type="text/javascript">
			<!--
				$('add-option-cell').hide()
			-->
			</script>
		</th>
{% endif %}
	</tr>
{% for participant in plan.participants %}
	{% ifequal participant.key edit %}
	<input type="hidden" name="participant" value="{{ participant.key }}" />
	{% endifequal %}
	<tr>
		<th>
			{% ifequal participant.key edit %}
			<input name="name" value="{{ participant.name }}" size="10" />
			{% else %}
			<a href="/{{ plan }}?edit={{ participant.key }}">{{ participant.name }}</a>
			{% endifequal %}
		</th>
{% for option in plan.options %}
{% get_person_status %}
		<td>
			{% ifequal participant.key edit %}
			<input type="radio" name="{{ option.key }}" value="1"><img src="http://planster.net/img/{{1|response_img }}.gif" /></input>
			<input type="radio" name="{{ option.key }}" value="2"><img src="http://planster.net/img/{{2|response_img }}.gif" /></input>
			<input type="radio" name="{{ option.key }}" value="3"><img src="http://planster.net/img/{{3|response_img }}.gif" /></input>
			{% else %}
				{% if response.value %}
				<img src="http://planster.net/img/{{ response.value|response_img }}.gif" alt="{{ response.value|response_text }}" title="{{ response.value|response_text }}" />
				{% else %}
				{{ response.value|response_text }}
				{% endif %}
			{% endifequal %}
		</td>
{% endfor %}		
		{% ifequal participant.key edit %}
		<td>
			<input type="submit" name="submit" value="set" />
			<input type="submit" name="submit" value="cancel" />
		</td>
		{% endifequal %}
	</tr>
{% endfor %}
{% if not edit and plan.accepts_participants_from_current_user %}
	<tr>
		{% ifequal add "participant" %}
		<!-- TODO: include the add-person template -->
		<th id="add-person">
			<form method="post" action="/{{ plan }}/people">
				<input name="name" id="participantName" />
				<input type="submit" name="submit" value="add" />
				<input type="submit" name="submit" value="cancel" />
			</form>
		</th>
		{% else %}
		<th id="add-person">
			<form method="get" action="/{{ plan }}" onsubmit="show_add_person_form(); return false">
				<input type="hidden" name="add" value="participant" />
				<input type="submit" value="add person" id="add-person-submit" />
			</form>
		</th>
		{% endifequal %}
	</tr>
{% endif %}
</table>
{% if edit %}
</form>
{% endif %}
{% endblock %}
