<p>In order to claim this PLAN, you will need to enter the verification key that was sent to you in the initial confirmation e-mail.</p>
<p>Now, since we don't send out those just yet, anyone can claim this PLAN by entering the following key:</p>
<span style="background: lightblue; padding: 3px 1em">{{ plan.key }}</span>
<p>
	<form method="post" action="#" onsubmit="claim_plan(this); return false">
		Verification key: <input name="key" size="50" />
		<input type="submit" value="claim it" />
		<input type="submit" value="cancel" onclick="Modalbox.show('/forms/{{ plan }}'); return false" />
	</form>
</p>
