{% extends "root.html" %}

{% block title %}PLANster - welcome{% endblock %}

{% block content %}
<script type="text/javascript">
<!--
	alert("This is experimental software, your data WILL be purged regularly.")
-->
</script>
<h1>Welcome</h1>
<!--<div id="nav_links"><a href="http://www.planster.net/">PLANster</a> NX</div>
-->
<div id="main">
	<h2 style="text-align: center; border: 0;">
		<a href="/create"><img src="/img/create.png" alt="start" title="Click here to get started!" /></a>
	</h2>
	<ul class="subItems">
		<li>
			<div>
				<img src="/img/what.png" alt="what?" title="" />
			</div>
			<p>
				PLANster is a free online service<br />
				which allows you to coordinate<br />
				virtually anything with your pals.
			</p>
		</li><li>
			<div>
				<img src="/img/how.png" alt="how?" title="" />
			</div>
			<p>
				It's quite simple: Just <a href="/create">create</a> a <span class="PLAN">PLAN</span> and invite your friends.
			</p>
		</li><li>
			<div>
				<img src="/img/try.png" alt="try!" title="" />
			</div>
			<p>
				There are two online demos available: <a href="demo00000001">A vacation</a> and <a href="demo00000002">a meal</a>.
			</p>
		</li>
	</ul>
</div>
{% endblock %}
