{% extends "base.html" %}
{% load i18n %}

{% block precontent %}
<div id="toolbar-welcome">
{% if user.is_authenticated %}
	Signed in as <a href="{% url planster.main.views.profile %}">{{ user.username }}</a>. <a href="{% url auth_logout %}">Sign out</a>
{% else %}
	<a href="{% url auth_login %}?next=/">Sign in</a>
	{% endif %}
</div>
{% endblock %}
{% block content %}
<h1>Oops</h1>
<p>planster requires you to have javascript enabled.</p>
<p>Please check <a href="https://www.google.com/support/adsense/bin/answer.py?answer=12654">this very useful page</a> for details on how to enable it.</p>
{% endblock %}
